*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    min-height: 100vh;
    background: #111;

}
span{
    position: absolute;
    background: #f00;
    width: 10px;
    height: 10px;
    pointer-events: none;
    border-radius: 50%;

}